/* table {
    /* border: solid black 1px; 
} */

body {
    font-family: 'Helvetica Neue Light';
}

td {
    padding: 10px;
}

h2 {
    font-family: 'Helvetica Neue Medium';
    font-style: normal;
}